* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: rgb(14, 13, 13);
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

/* Inicio Cabeçalho */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#title {
  flex-direction: column;
  line-height: 10px;
}

.assinatura {
  padding-top: 10%;
}

header li {
  display: inline;
  margin: 20px;
  list-style: none;
}

a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
  border-bottom: 2px solid;
}

a:hover {
  color: rgb(132, 14, 201);
  border-bottom: 2px solid rgb(132, 14, 201);
  transition: 0.3s all;
}

#inscreva-se-btn {
  border: 2px solid rgb(132, 14, 201);
  padding: 10px;
  border-radius: 15px;
}

#inscreva-se-btn:hover {
  background-color: rgb(36, 2, 56);
  color: white;
}

h1 {
  font-weight: 200;
}
/* Fim Cabeçalho */

/* inicio Responsividade */
@media screen and (max-width: 760px) {
  header {
    flex-direction: column;
  }

  main {
    flex-direction: column;
  }

  h2 {
    font-size: 38px;
  }

  form {
    margin: 0 auto;
    width: 100%;
  }

  input {
    align-self: center;
  }

  img {
    display: none;
  }

  ul {
    text-align: center;
  }
}
/* Fim Responsividade */

  /* Inicio Animação Scroll */
  [data-anime]{
    opacity: 0;
    transition: .4s;
  }
  
  [data-anime="left"]{
    transform: translate3d(-50px,0 ,0);
  }
  
  [data-anime="right"]{
    transform: translate3d(50px,0 ,0);
  }
  
  [data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
  /* Fim animação Scroll */
  
  /* Inicio Titulo */
  
  .header {
    width: 90%;
    height: 80%;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto 12px;
  }
  .header-button{
    padding-top: 4%;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .header span {
    padding-top: 3%;
    font-weight: bold;
    font-size: 50px;
    word-break: break-all;
  }
  /* Fim Titulo */
  
  
  @keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
  
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
  }
  main{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 20vw;
    background-color: rgb(43, 42, 42);
    color: white;
    border-radius: 5px;
  }
  
  .form{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form input{
    border-radius: 4px;
    margin-top: 5%;
  }
  .form button{
    margin-top: 15%;
  }
  .form label{
    font-size: 20px;
    margin-top: 5%;
  }
  